@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
}

section {
    margin: 0 1rem;
}
.backbtn{
    color:#fff;
    text-decoration: none;
}

.container1 {
    background: #282727;
    padding: 1rem 1rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.box2 p {
    color: white;
    display: flex;
    align-items: center;
    grid-gap: .4rem;
}

.box2 p i {
    font-size: 1.2rem;
    color: #B81411;
}

.container1 h4 {
    color: #fff;
    font-weight: 400;
}


.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
    background: #B81411;
    border-radius: 50px;
    padding: .3rem;
    height: 25px;
    color: #fff;
}

.stars p i {
    font-size: 1.1rem;
    color: #B81411;
}

.stars p {
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0rem;
}

.name h4 {
    color: #B7B6B6;
    font-weight: 400;
    font-size: .8rem;
}

.name img {
    width: 40px;
    height: 26px;
}

.filter_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
}


.veg_slider {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 100%;
    height: 6px;
    border-radius: 15px;
    background: #B81411;
    position: relative;
}

.slide_box {
    position: absolute;
    background: #282727;
    border-radius: 10px;
    color: #fff;
    padding: .2rem;
    font-weight: 600;
    border: 2px solid #B81411;
    right: 80px;
    font-size: .8rem;
}

.veg_slider2 {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider2 {
    width: 100%;
    height: 6px;
    border-radius: 15px;
    background: #0AD544;
    position: relative;
}

.slide_box2 {
    position: absolute;
    background: #282727;
    border-radius: 10px;
    color: #fff;
    padding: .2rem;
    font-weight: 600;
    border: 2px solid #0AD544;
    right: 15px;
    font-size: .8rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #282727;
    border-radius: 10px;
    margin: 1rem 0;
    position: relative;

}

.card img {
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.heart {
    position: absolute;
    color: #B81411;
    font-size: 1.8rem;
    right: 30px;
    top: 30px;
    background: #282727;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.Hotel_food {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .4rem;
    color: #fff;

}

.price {
    display: flex;
    grid-gap: 1rem;
    color: #fff
}

.price p i {
    font-size: 1.2rem;
    color: #B81411;
}

.price p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price small {
    text-decoration: line-through;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: .3rem;
}

.time p {
    width: 20px;
    height: 17px;
    border-radius: 3px;
    border: 1px solid #0AD544;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time p span {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #0AD544;
    display: block;

}

.hotel_food_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
    color: #fff;
}

.button {
    border: 1px solid #B81411;
    border-radius: 6px;
    padding: .2rem .7rem;
    cursor: pointer;
}

.button a{
color: #fff;
text-decoration: none;
}

.food_name{
    font-size: 1.3rem;
}