@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
}

section {
    margin: 0 1rem;
}
.backbtn{
    color:#fff;
    text-decoration: none;
}
.container1 {
    background: #282727;
    padding: 1rem 1rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box2 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
}

.box2 p {
    color: white;
    display: flex;
    align-items: center;
    grid-gap: .4rem;
}

.box2 p i {
    font-size: 1.2rem;
    color: #B81411;
}

.container1 h4 {
    color: #fff;
    font-weight: 400;
}


.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
    background: #B81411;
    border-radius: 50px;
    padding: .3rem;
    height: 25px;
    color: #fff;
}

.stars p i {
    font-size: 1.1rem;
    color: #B81411;
}

.stars p {
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.food_name{
    display:flex;
    grid-gap: 1rem;
    align-items: center;
    color: #fff;
    font-size: 1rem;
}

.food_name p {
    width: 20px;
    height: 17px;
    border-radius: 3px;
    border: 1px solid #0AD544;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food_name p span {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #0AD544;
    display: block;
}

.box3{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem;
}
.box3 i{
    font-size:1.5rem;
    color: #B81411;
}
.box3 p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    grid-gap: 1rem;
    font-size: 1rem;
}
.food_add_btn{
    background:#696363;
    border: 1px solid #B81411;
    padding:.2rem 0rem;
    border-radius:10px;
    color: #fff;
    font-size:1.3rem;
}
.food_add_btn span{
    padding:.8rem;
    cursor: pointer;
}

.food_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3F3F3F;
    margin:1rem 0rem;
    border-radius: 6px;
    padding:.4rem .4rem;

}
.food_input input{
    width:100%;
    padding: .5rem;
    background-color: transparent;
    outline:none;
    border:none;
    color:#fff;
}
.food_input p{
    padding-right:.4rem;
    background-color: #696363;
    padding: .3rem;
    border:1px solid #B81411;
    border-radius:4px;
    color:#fff;
}

.message{
    color: #D0D0D0;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.container2{
    display:flex;
    justify-content:center;
    grid-gap: 1rem;
    background: #282727;
    border-radius:20px;
    padding: 1rem;
    margin:1rem 0;
    flex-direction: column;
}

.content{
    display:flex;
    justify-content:center;
    align-items: center;
    grid-gap: 1rem;

}

.container2 .options{
    background-color:#3F3F3F;
    padding:1rem;
    border-radius: 6px;
     display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-gap:.3rem;
    color:#fff;
}

.active{
    border:1px solid #B81411;
}

.container2 .options:hover{
    border:1px solid #B81411;
}

.container2 .options i{
    font-size:1.5rem;
}

.list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.list li p{
    color: #fff;
}
.list li p i{
    color: #B81411;
}

.p_2{
    text-align:left;
}
.free_1{
    color:#0AD544 !important;
}
hr{
    color: #606060 !important;
}

.cash_on_delivery{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 1.5rem 1rem 1rem 1rem;
    margin:1rem 0 0 0;
    background: #282727;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    color:#fff;
}
.price_{
 background: #B81411;
    padding: .4rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}