@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color:#181818;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: .3rem 1rem; 
    
}
header p{
    display: flex;
    flex-direction: column;
    font-weight:600;
    color:#B81411;
}
header span {
    color: #ACA6A6;
}
.search_bar{
    width:50%;
    border:1px solid #ACA6A6;
    border-radius: 22px;
    padding:0 1rem;
}
.search_div {
display: flex;
justify-content: space-between;
align-items:center;
}
.search_div input{
    width:100%;
    border:none;
    outline:none;
    padding:.4rem;
    background-color: transparent;
}

.search_icon{
    color:#B81411;
    font-size:1.2rem;
}

.veg_slider{
    width:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider{
    width:100%;
    height: 6px;
    border-radius:15px;
    background: #0AD544;
    position: relative;
}
.slide_box{
    position: absolute;
    background: #282727;
    border-radius: 10px;
    color: #fff;
    padding: .2rem;
    font-weight: 600;
    border: 2px solid #0AD544;
    right: 15px;
    font-size: .8rem;
}

section{
    margin:2rem 1rem;
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name h4{
    color: #B7B6B6;
    font-weight: 400;
    font-size:.8rem;
}
.name img{
    width:40px;
    height:26px;
}

/* slider */



.multi-slider {
  width: 100%;
  overflow: hidden;
  margin:1rem 0;
}

.multi-track {
  display: flex;
  gap: 12px;
  transition: transform 0.4s ease;
}

.multi-track img {
width: calc(25% - 9px);
    height: 111px;
    object-fit: cover;
    /* background-color: #282727; */
    /* border-radius: 50%; */
}
/* Dots */
.dots {
  text-align: center;
     margin-top: -8px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #555;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.dot.active {
  background: #fff;
}


/* // slider 2 /// */

.img_div_auto{
    overflow: auto;
    display: flex;
    grid-gap: 1rem;
     -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}
.img_div_auto::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

.img_div{
    justify-content: space-between;
    min-width: 207px;
    align-items: center;
    background-color:#282727;
    padding:1rem;
    border-radius:10px;
    display: flex;
}
.img_div img{
    width: 83px;
    height: 77px;
    background: transparent;
    border-radius: 10px;
}
.hotel_name{
    color:#fff;
    font-size:.8rem;
}
.location_name{
    padding:.1rem;
    background-color:#fff;
    border-radius:50px;
    font-size:.8rem;
}
.location_icon{
     color:#B81411;
}

.name_hotel{
    display: flex;
    flex-direction: column;
    grid-gap:1rem;
}

/* //  food item  // */

h4{
    color: #B7B6B6;
    font-weight: 400;
    font-size:.8rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
    background-color:#282727;
    border-radius: 10px;
    margin:1rem 0;

}

.card img{
    width:100%;
    border-radius: 10px;
    position: relative;
}

.location_name2{
position: absolute;
top:80%;
}

.location_name2{
   width: fit-content;
    padding:.5rem;
    background-color:#000000;
    border-top-right-radius:0px;
    font-size:.8rem;
    color: #fff;
    right: 45px;
}
.location_icon{
     color:#B81411;
}

.location_name3{
   width: fit-content;
    padding:.5rem;
    background-color:#000000;
    border-top-right-radius:0px;
    font-size:.8rem;
    color: #fff;
    right: 45px;
}
.location_icon{
     color:#B81411;
}
.location_name3{
position: absolute;
top:20%;
}
.location_name4{
   width: fit-content;
    padding:.5rem;
    background-color:#000000;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    font-size:.8rem;
    color: #0AD544;
    left: 38px;
}

.location_name4{
position: absolute;
top:8%;
}
.card2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
    background-color:#282727;
    border-radius: 10px;
    margin:1rem 0;
    position: relative;

}

.card2 img{
    width:100%;
    border-radius: 10px;
    position: relative;
}


.Hotel_food{
    margin-top:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color:#fff;
}

.stars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap:1rem;
    background:#B81411;
    border-radius:50px;
    padding: .3rem;
    height: 25px;
    color: #fff;
}
.stars p i{
    font-size:1.1rem;
    color: #B81411;
}
.stars p{
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


/* /// media Query  //// */


@media(max-width:455px) {

    header p {
  font-size: small;
}

.search_bar{
        height: 32px;
}
.multi-track img
 {
    height: 73px;
 }

 .img_div{
    min-width: 162px;
    padding: .6em;
    height: 78px;
 }

.img_div img {
    width: 53px;
    height: 52px;
}

.location_name2 {
    position: absolute;
    top: 65%;
}

}

